%h1{id: "heading"}About Us

%center
%h3{id: "sheading"} The Team

%center
%ul
    %li
        %h4{id: "ssheading"} Mukul Batra
        %center
            %h5 Computer Science Graduate Student at Binghamton University
    %li 
        %h4{id: "ssheading"} Steven Liounis
        %center
            %h5 Undergraduate computer science major at Binghamton University, from Long Island, NY. 
            %h5 Fluent in all aforementioned languages, interested in Unity engine game building, and simple AI development
    %li 
        %h4{id: "ssheading"} Renee Russo
        %center
            %h5 Computer Science Undergraduate Student at Binghamton University
    %li 
        %h4{id: "ssheading"} Piruthviraj Angamuthu Selvaraju
        %center
            %h5 Computer Science graduate student at Binghamton University.
    %li 
        %h4{id: "ssheading"} Mei Sheinbaum
        %center
            %h5 A 4th year college student, set to graduate in spring 2018. 
            %h5 Worked on a project for the NISH Ability One Design Challenge as part of a team of four. 
            %h5 Also implemented a Super simple file system as part of a team of four.